div.card{
    position: relative;
    top: 30%;
    border-radius: .5rem;
}

p#card-header{
    margin-bottom: 3px;
    font-size: 30px;
    font-weight: bold;
}

tr#listingrow:hover{
    background: rgb(238, 236, 236);
    cursor: pointer;
}

img#headerimg{
    border-radius: 50%;
    max-width: 100%;
    left: -10%;
    top: -120%;
    position: relative;
}

p#botname{
    position: relative;
    left: 20%;
    font-weight: bold;
    font-size: x-large;
}

div.modal-header{
    height: 95px;
}

i#ordermodal{
    position: relative;
    top: 110%;
    left: 40%;
    font-size: 1.3rem; 
    color: cornflowerblue;
}

img#wechatpay{
    width: 20%;
    cursor: pointer;
}


