{% extends 'base.html' %}
{% load static %}

<!--页面标题-->
{% block title %}
    我的网站|注册
{% endblock %}

{% block header_extend %}
    <link rel="stylesheet" href="{% static 'alogin.css' %}">    
{% endblock %}

{% block nav_home_active %}active{% endblock %}

<!--页面内容-->
{% block content %}
    <!-- action为空表示提交给当前页面 -->
    {% if not user.is_authenticated %}
        <div id="container" class="container">
            <div id="main">
                <h3 class="text-center">注册</h3>
                <form action="" method="POST">
                    <div class="col-lg-4 offset-lg-4 col-sm-8 offset-sm-2">
                        <hr id="line">
                        {% csrf_token %}
                        {% for field in reg_form %}
                                {{ field }}
                                <p class="text-danger">
                                    {{ field.erros.as_text }}
                                </p>
                        {% endfor %}
                    </div>
                    <span class="pull-left text-danger">{{ login_form.non_field_errors.0 }}</span>
                    <div class="col-lg-4 offset-lg-4 col-sm-8 offset-sm-2">
                        <button type="submit" class="btn">
                            <i class="bi bi-arrow-right-circle"></i>
                            <span class="text">
                              注册
                            </span>
                            <span class="loading-animate"></span>
                        </button>
                        <p id="register">已有账号?<a id="forget" href="{% url 'login' %}">登录</a></p>
                    </div>
                </form>
            </div>
        </div>
    {% else %}
        <span>已登录，跳转到首页。。。</span>
        <script text='text/javascript'>
            window.location.href = '/'
        </script>
    {% endif %}

{% endblock %}

{% block script_expend %}
    <script>
        document.querySelector('.btn').addEventListener('click', (evt) => {
            evt.target.classList.add('loading')
        
            setTimeout(() => {
            evt.target.classList.remove('loading')
            }, 1000);
        })
    </script>
{% endblock %}



